/*fuentes*/
$font-a: "Unica One", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-b: 'Titillium Web', sans-serif;

/* colores */
$amarillo: #b9935a;
$gris: #4e4e4e;
$negro: #181818;
$blanco: #ebe9e9;